<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Добавить фильм</title>
    <script type="text/javascript" src="/js/form_validation.js"></script>
</head>
<body>
<div layout:fragment="content">
    <h3 class="mt-3 mb-3">Добавить фильм</h3>
    <form style="max-width: 50vw"
          enctype="multipart/form-data" class="needs-validation" novalidate
          th:action="@{/films/add}" th:object="${filmForm}"
          method="POST" >
        <div class="mb-3">
            <label for="title" class="form-label">Название</label>
            <!--            Название поля инпута должно строго соответствовать названию поля класса (DTO)-->
            <input name="title" type="text" class="form-control" id="title">
        </div>
        <div class="mb-3">
            <label for="premierYear" class="form-label">Год релиза</label>
            <input name="premierYear" type="number" class="form-control" id="premierYear">
        </div>
        <div class="mb-3">
            <label for="country" class="form-label">Страна</label>
            <input name="country" type="text" class="form-control" id="country">
        </div>
        <div class="mb-3">
            <label for="genre" class="form-label">Жанр</label>
            <select class="form-select" name="genre" id="genre">
                <option selected>Выберете жанр из списка:</option>
                <option th:each="genre : ${T(sber.school.j13filmoteka.ftekaproject.model.Genre).values()}"
                        th:value="${genre}" th:text="${genre.getGenreTextDisplay()}"></option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary" onclick="validateForm()">Добавить</button>
        <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
    </form>
</div>
</body>
</html>