<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Фильмы фильмотеки</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Все фильмы фильмотеки</h1>
    <div class="row">
        <div class="col">
            <a href="films/add"
               sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('LIBRARIAN'))"
               class="btn btn-secondary"
               role="button"
               style="float: right"
               aria-disabled="true">Добавить фильм</a>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Название</th>
            <th scope="col">Жанр</th>
            <th scope="col">Год релиза</th>
            <th scope="col">Страна</th>
            <th scope="col">Автор(ы)</th>
            <th scope="col" sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('LIBRARIAN'))">Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="film : ${films}">
            <td>
                <a class="text-link text-blue" th:href="'/films/' + ${film.getId()}" th:text="${film.getTitle()}"></a>
            </td>
            <td th:text="${film.getGenre().getGenreTextDisplay()}"></td>
            <td th:text="${film.getPremierYear()}"></td>
            <td th:text="${film.getCountry()}"></td>
            <td>
                <ul>
                    <li th:each="director : ${film.getDirectors()}" th:text="${director.getFio()}"></li>
                </ul>
            </td>
            <td sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('LIBRARIAN'))">
                <div class="btn-group dropstart">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">
                        Добавить режиссера
                    </button>
                    <ul class="dropdown-menu">
                        <!-- Dropdown menu links -->
                        <li th:each="directorToAdd : ${directorsAvailableList}"
                            th:with="internalID='addForFilm'+${film.getId()}+'Director'+${directorToAdd.getId()}">
                            <a class="dropdown-item" th:text="${directorToAdd.getFio()}"
                               data-bs-target="#addDirector"
                               th:attr="data-bs-target='#' + @{${internalID}}"
                               th:href="'#' + @{${internalID}}" data-bs-toggle="modal">
                            </a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        <div th:each="film : ${films}" sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('LIBRARIAN'))">
            <div th:each="directorToAdd : ${directorsAvailableList}"
                 th:with="internalID='addForFilm'+${film.getId()}+'Director'+${directorToAdd.getId()}">
                <!--Modal code -->
                <div class="modal fade"
                     th:id="@{${internalID}}"
                     aria-labelledby="addDirectorLabel"
                     th:attr="aria-labelledby=@{${internalID}} + 'Label'"
                     data-bs-backdrop="focus" aria-hidden="true" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" th:id="@{${internalID}} + 'Label'">Добавить режиссера</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>You are about to add: </p>
                                <div th:text="${directorToAdd.getFio()}"></div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <form action="#" th:action="@{'/films/append/' + ${directorToAdd.getId()} + '/to/'+ ${film.getId()}}" method="post">
                                    <input type="number" name="film_id" hidden="true">
                                    <input type="number" name="director_id" hidden="true">
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Modal code end-->
            </div>
        </div>
        </tbody>
    </table>
</div>
</body>
</html>